root_dir = /datapool/Analysis/ResDev/RD03_Pan70/190107_TPNB500221AR_0096_AHGKFVBGX7/mpileup_parser
error_suffix = error.txt
sample_file = /datapool/users_root/yangyuan/Bioinfo/Error_Set/RD03.190107.CF.Sample.txt
out_path = /datapool/Analysis/ResDev/RD03_Pan70/190107_TPNB500221AR_0096_AHGKFVBGX7/mpileup_parser