hotspot_file = /home/yangyuan/Bioinfo/Error_Set/RD03.hotspot.txt
raw_error_file = /home/yangyuan/Bioinfo/Error_Set/RD03.190110.CF.Baseline.raw.error.txt
dedup_error_file = /home/yangyuan/Bioinfo/Error_Set/RD03.190110.CF.Baseline.dedup.error.txt
out_dir = /home/yangyuan/Bioinfo/Error_Set/BKG_Report
echarts_js = /home/yangyuan/Bioinfo/Error_Set/Script/echarts.js
datatool_js = /home/yangyuan/Bioinfo/Error_Set/Script/dataTool.js
baseline_html = /home/yangyuan/Bioinfo/Error_Set/Script/baseline.html